* {
  box-sizing: border-box;
}
:root {
  --main-color: #ff385c;
  --main-grey-light: #e5e5e5;
  --padding-normal: 10px;
  --height-nav: 80px;
}

body {
  margin: 0;
  font-family: sans-serif;
  min-height: 200vh;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/* COMUN */

.container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.row {
  display: flex;
  height: 100%;
  align-items: center;
}

.w33 {
  width: 33.33%;
}

.pad {
  padding: var(--padding-normal);
}

.logo svg path {
  fill: #ff385c;
}

.border-round {
  border: 2px solid var(--main-grey-light);
  border-radius: 25px;
}

/* MENU MAIN */
#menu_main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--height-nav);
  border-bottom: 1px solid var(--main-grey-light);
}
#menu_main .container {
  height: 100%;
}

.searchContainer {
  width: 90%;
  height: 50px;
  padding: 5px;
}

.searchContainer__logo {
  aspect-ratio: 1;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchContainer__logo svg {
  stroke: white;
}

#contact_menu {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
#contact_menu .contact {
  width: 70px;
  height: 90%;
}

#submenu {
  position: fixed;
  top: var(--height-nav);
  left: 0;
  right: 0;
  height: 70px;
  border-bottom: 1px solid var(--main-grey-light);
}

#submenu nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.container_items {
  display: flex;
  gap: 20px;
}

.item_filter {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: space-around;
  align-items: center;
  opacity: 0.6;
  transition: all 0.5s;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 4px;
}

.item_filter:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);

  opacity: 1;
}

.item_filter .texto {
  font-size: 0.9rem;
}
.item_filter img {
  width: 24px;
}

main {
  margin-top: 150px;
}

#grid_houses {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

#grid_houses .item {
  /* border: 1px solid; */
  overflow: hidden;
  width: 200px;
}
.item__image {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  /* height: 200px; */
  aspect-ratio: 1/1;
}

#grid_houses .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.item__row {
  display: flex;
  align-items: center;
}
.item__row__header {
  flex-grow: 1;
  font-weight: 400;
}
.rating {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.font-light {
}
